body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    text-align: center;
}

.box {
    margin-top: 25px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
    resize: none;
}

input[type="file"] {
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#result {
    margin-top: 30px;
    text-align: center;
    color: #333;
    font-size: 22px;
    font-weight: bold;
}
